@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1712135823697') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\344b";
}

.icon-kefu:before {
  content: "\e603";
}

.icon-fanhui:before {
  content: "\e671";
}

.icon-shoucang:before {
  content: "\e646";
}

.icon-dingwei:before {
  content: "\e607";
}

.icon-xiaoxi:before {
  content: "\e64d";
}

.icon-liulanjilusel:before {
  content: "\e630";
}

.icon-washer:before {
  content: "\e63f";
}

.icon-weidenglu:before {
  content: "\e61c";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-jiantouxia:before {
  content: "\e62e";
}

.icon-bingxiang:before {
  content: "\e90b";
}

.icon-xiashui:before {
  content: "\e604";
}

.icon-wuxianwang:before {
  content: "\e699";
}

.icon-fabusekuai:before {
  content: "\ec46";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon-shangshui-:before {
  content: "\e601";
}

.icon-wifiwuxianwang:before {
  content: "\e6f1";
}

.icon-yonghufankuibeifen:before {
  content: "\e605";
}

.icon-a-bianzu14beifen8:before {
  content: "\e606";
}

.icon-mobanku:before {
  content: "\e608";
}

.icon-a-bianzubeifen3:before {
  content: "\e609";
}

.icon-a-bianzu14beifen:before {
  content: "\e60a";
}

.icon-a-bianzu14beifen4:before {
  content: "\e60b";
}

.icon-a-mobankubeifen4:before {
  content: "\e60c";
}

.icon-a-mobankubeifen2:before {
  content: "\e60d";
}

.icon-art:before {
  content: "\e742";
}

.icon-a-camerashot:before {
  content: "\e746";
}

.icon-clarity:before {
  content: "\e747";
}

.icon-effects:before {
  content: "\e748";
}

.icon-a-Closeupshot:before {
  content: "\e749";
}

.icon-Shadow:before {
  content: "\e74a";
}

.icon-Colors:before {
  content: "\e74b";
}

.icon-Scene:before {
  content: "\e74c";
}

